/* ADD/REMOVE/CHANGE THEMES HERE */

// Giving the default theme a name
@include theme-maker("default", (
        theme (
                bg #68A0A5
        ),
        header (
                logout (
                        bg #5C8E92,
                        hover-bg #70ACB2
                ),
        ),
        sidebar (
                avatar (
                        bg #70ACB2
                ),
                controls (
                        bg #5C8E92,
                        btn (
                                color lighten(#70ACB2, 10%),
                                border #58878B,
                                active-bg #70ACB2,
                                active-color darken(#5C8E92, 10%)
                        )
                )
        )
));

// Modifying the default theme

@include theme-maker("green", (
  theme (
    bg #2EB398
  ),
  header (
    logout (
      bg #2EB398,
      hover-bg #31C0A3
    ),
  ),
  sidebar (
    avatar (
      bg #56B596
    ),
    controls (
      bg #279982,
      btn (
        color #1B6858,
        border darken(#279982, 2%),
        active-bg #1E7362,
        active-color #56B596
      )
    )
  )
));

@include theme-maker("blue", (
  theme (
    bg #79B0EC
  ),
  header (
    logout (
      bg #6FA2D9,
      hover-bg #80BAF9
    ),
  ),
  sidebar (
    avatar (
      bg #80BAF9
    ),
    controls (
      bg #6FA2D9,
      btn (
        color lighten(#38516C, 15%),
        border #6C9DD2,
        active-bg #80BAF9,
        active-color darken(#6FA2D9, 15%)
      )
    )
  )
));

@include theme-maker("purple", (
  theme (
    bg #B4A1DD
  ),
  header (
    logout (
      bg #A593CA,
      hover-bg #BEAAEA
    ),
  ),
  sidebar (
    avatar (
      bg #BEAAEA
    ),
    controls (
      bg #A593CA,
      btn (
        color lighten(#4C445D, 15%),
        border #9F8EC3,
        active-bg #BEAAEA,
        active-color #4C445D
      )
    )
  )
));

@include theme-maker("brown", (
  theme (
    bg #A8553A
  ),
  header (
    logout (
      bg #954B33,
      hover-bg #B55B3E
    ),
  ),
  sidebar (
    avatar (
      bg #B55B3E
    ),
    controls (
      bg #954B33,
      btn (
        color #F47C54,
        border #8E4831,
        active-bg #B55B3E,
        active-color darken(#954B33, 10%)
      )
    )
  )
));

@include theme-maker("cyan", (
  theme (
    bg #68A0A5
  ),
  header (
    logout (
      bg #5C8E92,
      hover-bg #70ACB2
    ),
  ),
  sidebar (
    avatar (
      bg #70ACB2
    ),
    controls (
      bg #5C8E92,
      btn (
        color lighten(#70ACB2, 10%),
        border #58878B,
        active-bg #70ACB2,
        active-color darken(#5C8E92, 10%)
      )
    )
  )
));
