.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 220px;
  height: 313px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.button-flip {
  margin-top: 7px!important;
  margin-bottom: 7px!important;
}

.kit-description {
  margin-right: 5px;
  margin-left: 5px;
  height: 190px;
  max-height: 250px;
  overflow-y: auto;
}

.input-bottom {
  border-color: white;
  border-bottom-color: #679fa5;
  border-style: solid;
  border-width: 1px;
}