.paginate_button .btn .btn-outlined .btn-success .active {
  background: #68a0a5!important;
}

.btn-success:active, .btn-success.active, .btn-success[aria-expanded="true"], .btn-success.active:hover, .btn-success.active:focus, .btn-success[aria-expanded="true"]:hover, .btn-success[aria-expanded="true"]:focus, .open > .btn-success.dropdown-toggle {
  background: #68a0a5!important;
}

html.default .form-control:focus {
  box-shadow: none !important;
  border-color: #68a0a5!important;
}